on:
  push:
    branches:
      - 'main'
    paths:
      - 'chart-releaser-config.yaml'
      - '.github/workflows/update-chart-releases.yaml'
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  release-charts:
    name: release charts
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Github token scoped to job
      tag: v0.0.9
      arch: linux-amd64
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.4
      - name: Install gardener-chart-releaser
        run: |
          sudo apt-get update
          sudo apt-get -y install wget
          wget https://github.com/gardener-community/gardener-chart-releaser/releases/download/$tag/gardener-chart-releaser-$tag-$arch
          chmod +x gardener-chart-releaser-$tag-$arch
          git config --global user.email "gardener-chart-releaser@bot.eu"
          git config --global user.name "gardener-chart-releaser"
          ./gardener-chart-releaser-$tag-$arch update --config chart-releaser-config.yaml
